body {
    font-family: Arial, sans-serif;
    font-weight: 300; 
    margin: 0;
    padding: 0;
}

nav {
    background-color: #f60; 
    padding: 10px 0; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    display: flex;
    justify-content: flex-start; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: flex-start; 
}

nav ul li {
    margin: 0 10px; 
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif; 
}

nav ul li a:hover {
    background-color: #f4f2f0;
    color: #fff; 
}

nav ul li.active a {
    background-color: transparent; 
    color: #f60;
    font-weight: bold; 
}

body {
    padding-top: 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff; 
}

#root {
    width: 45%;
    max-height: 90vh;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd; 
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2; 
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 20px;
    border: 1px solid #fffdfb; 
    padding: 10px;
    border-radius: 5px;
}

li strong {
    display: block;
    margin-bottom: 5px;
}

#formulario {
    width: 45%;
    padding-right: 20px;
}

h2 {
    color: #333; 
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333; 
}

input[type="text"] {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(248, 104, 8); 
    color: #ffffff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #e64d00; 
}
